<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ADUserUpdater.Service.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ADUserUpdater.Service.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <ADUserUpdater.Service.Properties.Settings>
            <setting name="SQLServerName" serializeAs="String">
                <value />
            </setting>
            <setting name="SQLDatabase" serializeAs="String">
                <value />
            </setting>
            <setting name="SQLUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="SQLPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="SQLNT" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LogFilePath" serializeAs="String">
                <value>C:\Users\elerq\source\repos\ADUserUpdater\ADUserUpdater</value>
            </setting>
            <setting name="LogFileLevel" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PSPath" serializeAs="String">
                <value>C:\Users\elerq\source\repos\ADUserUpdater\ADUserUpdater</value>
            </setting>
            <setting name="RefreshTimeInMin" serializeAs="String">
                <value>240</value>
            </setting>
            <setting name="FirstRunImmediately" serializeAs="String">
                <value>True</value>
            </setting>
        </ADUserUpdater.Service.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <ADUserUpdater.Service.Properties.Settings>
            <setting name="AppEmailAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="AppEmailPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="TargetEmailAddress" serializeAs="String">
                <value>l.redzinski@professoft.com.pl</value>
            </setting>
        </ADUserUpdater.Service.Properties.Settings>
    </userSettings>
</configuration>